  /* Poppins Font Classes

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  */

  /* Brand Colors
  Midnight Blue: #41729f
  Blue Gray: #5885af
  Dark Blue: #274472
  Baby Blue: #c3e0e5
  Light Blue: #D5E6F6
  Blush: #D36582
  Salmon: #E4959E
  */

  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #D5E6F6;
    font-size: 16px; 
    line-height: 1.6; 
    color: #386167;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 800;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 800;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 500;
  }

  a {
    color: #D36582;
    text-decoration: none;
  }
  a:hover {
    color: #9F2838;
    text-decoration: underline; 
  }

  a:visited { /* visited link */
    color: #D36582;
  }
 
  a:active { /* selected link */
    color: #423629;
  }

  a:focus { /* using the keyboard to select */
      color: #D36582;
      text-decoration: underline;
  }

  .button.filled {
    display: inline-block; 
    background-color: #5885af;
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #274472; 
    transition: 0.2s opacity;
  }

  .button {
    display: inline-block; 
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #274472; 
    transition: 0.2s opacity;
  }

  .button:active {
    color: #423629
  }
  
  .button:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color: #274472;
    text-transform: uppercase;
    border: 2px solid #41729f;
  }
  
  .button.contact:hover {
    background-color: #5885af;
    color: #ffffff;
  }

  header {
    background-color: #41729f;
    padding: 10px;
    position: relative;
  }

  #hero {
    background-color: #41729f;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

  /* Layout styling */

  
  .container {
    padding: 15px
  }

  .row {
    margin: 25px 0;
  }

  #work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
  }

  #hero h1 {
    text-align: center;
  }

  .logo {
    max-width: 250px;
  }

  header {
    text-align: center;
    padding: 10px 0;
  }

  nav{
    display: inline-block;
    width: 100%
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #D36582;
  }

  nav > ul > li > a:visited {
    color: #D36582;
  }

  nav > ul > li > a:hover {
    opacity: 0.8;
    text-decoration: underline;
    color: #9F2838;
  }

  nav > ul > li > a:active {
    color: #423629;
  }

  #hero h1 {
    margin: 0;
    padding: 0.67em 0;
    color: #ffffff;
  }

  #hero p {
    margin: 0;
    padding: 0.67em 0;
    color: #ffffff;
  }

  header {
    /*start ------------*/
    width: [object Object]px; 
    height: [object Object]px; 
    background: #41729f;  
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  }

  #about_me {
    background: #41729f;
  }

  #about_me {
    color: #ffffff;
  }

  #selfie {
    align-items: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }

  #about_me > h2 {
    align-items: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }

  #resume {
    padding-top: 10px; 
  }

  #about_content {
    padding-top: 20px;
  }

  #skills_n_tools h2 {
    padding-bottom: 10px;
  }

  header div {
    text-align: left;
    margin-left: 10px;
  }

/* Mid-Fidelity Styles */

#saved_species_mf {
  display: inline;
}

#forecast_mf {
  display: inline;
}

#homescreen_mf {
  display: inline;
}

/* High-Fidelity Styles */

#saved_species_hf {
  display: inline;
}

#forecast_hf {
  display: inline;
}

#homescreen_hf {
  display: inline;
}

/* Final Draft Styles */

  #saved_species_fd {
    display: inline;
  }

  #forecast_fd {
    display: inline;
  }

  #homescreen_fd {
    display: inline;
  }

  #conceptual_design h2 {

  }