  /* Poppins Font Classes

  .poppins {
     font-family: "Poppins", sans-serif;
   }

  .poppins-bold {
     font-weight: 700;
   }

  .poppins-medium {
     font-weight: 500;
   }

  .poppins-regular {
     font-weight: 300;
   }

  .poppins-italic {
    font-style:: italic
  }

  */

  /* Brand Colors
  Midnight Blue: #41729f
  Blue Gray: #5885af
  Dark Blue: #274472
  Baby Blue: #c3e0e5
  Light Blue: #D5E6F6
  Blush: #D36582
  Salmon: #E4959E
  */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #D5E6F6;
    font-size: 16px; 
    line-height: 1.4; 
    color: #386167;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 800;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 800;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 500;
  }

  a {
    color: #D36582;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  a:hover {
    color: #9F2838;
    text-decoration: underline; 
  }

  a:visited { /* visited link */
    color: #D36582;
  }
 
  a:active { /* selected link */
    color: #423629;
  }

  a:focus { /* using the keyboard to select */
      color: #D36582;
      text-decoration: underline;
  }

  .button.filled {
    display: inline-block;
    background-color: #5885af;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #274472;
    transition-duration: 0.2s;
    transition-property: opacity;
  }

  .button.filled.contact {
    background-color: transparent;
    color: #274472;
    text-transform: uppercase;
    border: 2px solid #41729f;
  }

  .button.filled:active {
    color: #423629
  }
  
  .button.filled:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  .button.filled.contact:hover {
     background-color: #41729f;
     color: #ffffff;
   }

  header {
    background-color: #41729f;
    padding: 8px;
  }

  #hero {
    background-color: #41729f;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
  }

  /* 
  ======================
      Layout styling 
  ======================
  */

  
  .container {
    padding: 16px
  }

  .row {
    margin: 24px 0;
  }

  #work .row {
    padding-bottom: 24px;
    border-bottom: 1px solid #4a4a4a;
  }

  #hero h1 {
    text-align: center;
  }

  .logo {
    max-width: 250px;
    align-items: center;
  }

  header {
    padding: 10px 0;
    position: relative;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #D36582;
  }

  nav > ul > li > a:visited {
    color: #D36582;
  }

  nav > ul > li > a:hover {
    opacity: 0.8;
    text-decoration: underline;
    color: #9F2838;
  }

  nav > ul > li > a:active {
    color: #423629;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 24px;
    color: #ffffff;
    padding-right: 0;
  }

  .navtoggle.responsive li  {
    display: block;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

  #hero h1 {
    margin: 0;
    padding: 0.67em 0;
    color: #ffffff;
  }

  #hero p {
    margin: 0;
    padding: 0.67em 0;
    color: #ffffff;
  }

  header {
    /*start ------------*/
    width: [object Object]px; 
    height: [object Object]px; 
    background: #41729f;  
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  }

  #navbar {
    padding-top: 8px;
  }

  #portfolio_logo {
    max-width: 150px;
  }

  #project_button {
    padding-top: 16px;
  }

  #b4casting_summary {
    padding-top: 8px;
  }

  /* about page content */

  #about-picture {
    width: 100%;
  max-width: 100%;
  height: auto;
  }

  #about_me {
    background: #41729f;
  }

  #about_me {
    color: #ffffff;
  }

  #selfie {
    align-items: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }

  #about_me > h2 {
    align-items: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }

  #resume {
    padding-top: 10px; 
  }

  #about_content {
    padding-top: 20px;
  }

  #relevant_skills {
    padding: 16px;
  }

  #relevant_skills h3 {
    padding: 4px;
  }

  #tools_i_use {
    padding: 16px;
  }

  #tools_i_use h3 {
    padding: 4px;
  }


  /* Project Page Content */

  #skills_n_tools h2 {
    padding-bottom: 10px;
  }

  #back_button {
    align-self: left;
    display:inline-block;
    margin-top: 0px;
    margin-left: 24px;
    padding-top: 6px;
    height: 50px;
  }


  /* Animations */

  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  /* "Conceptualize" pics (start) */

  #user_journey_pic {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
  }

  #user_flow_pic {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
  }

  #site_map_pic {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
  }

  /* "Conceptualize" pics (end) */

  /* Mid-Fidelity Styles (start) */

  #saved_species_mf {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  #forecast_mf {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  #homescreen_mf {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  /* Mid-Fidelity Styles (end) */
  /* High-Fidelity Styles (start) */

  #saved_species_hf {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  #forecast_hf {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  #homescreen_hf {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  /* High-Fidelity Styles (end) */
  /* Final Draft Styles (start) */

  #saved_species_fd {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  #forecast_fd {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  #homescreen_fd {
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  /* Final Draft Styles (end) */

  /* Column Sizing */
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    width: 100%; 
    float: left; 
  }

  .row:after { 
    content: ""; 
    clear: both; 
    display: table;
  }

  .column {
    padding: 0 16px;
  }
  /* 
  
  
  
  ==============================
  Medium devices (640px and larger)
  ================================= 
  
  
  
  */

  @media only screen and (min-width: 640px) {

    nav > ul {
      margin: 1em 0;
    }

    .navtoggle li:not(:last-child) {
      display: inline-block;
    }

    .navtoggle li:last-child {
      display: none;
    }

    nav > ul > li {
      display: inline-block;
    }

    #portfolio_logo {
      min-width: 641px;
    }

    .col-md-6 {
      width: 50%;
    }

    header {
      text-align: unset;
      height: unset;
      padding: 24px 0 13px;
    }
    
    nav {
      width: auto;
      float: right;
      margin-top: 12px;
    }

    body {
      text-size-adjust: 18px;
    }

    #hero span {
      display: block;
    }

    #relevant_skills {
      padding-left: 8px;
    }
    
  /* Mid-Fidelity Styles (start) */

  #saved_species_mf {
    width: 25%;
  }

  #forecast_mf {
    width: 25%;
  }

  #homescreen_mf {
    width: 25%;
  }

  /* Mid-Fidelity Styles (end) */
  /* High-Fidelity Styles (start) */

  #saved_species_hf {
    width: 25%;
  }

  #forecast_hf {
    width: 25%;
  }

  #homescreen_hf {
    width: 25%;
  }

  /* High-Fidelity Styles (end) */
  /* Final Draft Styles (start) */

  #saved_species_fd {
    width: 25%;
  }

  #forecast_fd {
    width: 25%;
  }

  #homescreen_fd {
    width: 25%;
  }

  /* Final Draft Styles (end) */
  }
  
  /* 
  
  
  
  ==============================
  Large devices (1024px or larger)
  ================================= 
  
  
  
  */

  @media only screen and (min-width: 1024px) {
  
    .col-md-7 {
      width: 58.33%;
    }

    .col-md-5 {
      width: 41.66%;
    }

    .container {
      max-width: 1200px; 
      margin-left: auto; 
      margin-right: auto; 
    }
}

    /* Mid-Fidelity Styles (start) */

  #saved_species_mf {
    width: 25%;
  }

  #forecast_mf {
    width: 25%;
  }

  #homescreen_mf {
    width: 25%;
  }

  /* Mid-Fidelity Styles (end) */
  /* High-Fidelity Styles (start) */

  #saved_species_hf {
    width: 25%;
  }

  #forecast_hf {
    width: 25%;
  }

  #homescreen_hf {
    width: 25%;
  }

  /* High-Fidelity Styles (end) */
  /* Final Draft Styles (start) */

  #saved_species_fd {
    width: 25%;
  }

  #forecast_fd {
    width: 25%;
  }

  #homescreen_fd {
    width: 25%;
  }

  /* Final Draft Styles (end) */
  
  /* ==============================
  X-large devices (1440px or larger)
  ================================= */
  @media only screen and (min-width: 1440px) {



    /* Mid-Fidelity Styles (start) */

  #saved_species_mf {
    width: 25%;
  }

  #forecast_mf {
    width: 25%;
  }

  #homescreen_mf {
    width: 25%;
  }

  /* Mid-Fidelity Styles (end) */
  /* High-Fidelity Styles (start) */

  #saved_species_hf {
    width: 25%;
  }

  #forecast_hf {
    width: 25%;
  }

  #homescreen_hf {
    width: 25%;
  }

  /* High-Fidelity Styles (end) */
  /* Final Draft Styles (start) */

  #saved_species_fd {
    width: 25%;
  }

  #forecast_fd {
    width: 25%;
  }

  #homescreen_fd {
    width: 25%;
  }

  /* Final Draft Styles (end) */
  }