  /* Poppins Font Classes

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  */

  /* Brand Colors
  Midnight Blue: #41729f
  Blue Gray: #5885af
  Dark Blue: #274472
  Baby Blue: #c3e0e5
  Light Blue: #D5E6F6
  Blush: #D36582
  Salmon: #E4959E
  */

  body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #D5E6F6;
    font-size: 16px; 
    line-height: 1.6; 
    color: #386167;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 800;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 800;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 500;
  }

  a {
    color: #D36582;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #9F2838;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:visited { /* visited link */
    color: #D36582;
  }
 
  a:active { /* selected link */
    color: #D36582;
  }

  a:focus { /* using the keyboard to select */
      color: #D36582;
      text-decoration: underline;
  }

  .button.filled {
    display: inline-block; 
    background-color: #5885af;
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #274472; 
    transition: 0.2s opacity;
  }

  .button {
    display: inline-block; 
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #274472; 
    transition: 0.2s opacity;
  }

  .button:active {
    color: 
  }
  
  .button:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color: #274472;
    text-transform: uppercase;
    border: 2px solid #41729f;
  }
  
  .button.contact:hover {
    background-color: #5885af;
    color: #ffffff;
  }